{
  "tabWidth": 4,
  "useTabs": true,
  "semi": true,
  "singleQuote": false,
  "printWidth": 120,
  "bracketSpacing": false,
  "trailingComma": "es5",
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "endOfLine": "crlf"
}
